@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Bebas+Neue&display=swap');

/*
Using GaffCo Consulting Font: Bebas Neue (will use Open Sans and/or Raleway too)
*/

/* === Style Variables: Colours and Hamburger Menu-speed === */
:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(13, 110, 139 , 0.75);
  --main-font-color: #ffffff;
  --menu-speed: 0.75s;
}

/* --- "Reset!"  --- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.4;
  /* background-color: rgb(13, 110, 139); */
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.showcase {
  color: #ffffff;
  height: 100vh;
  position: relative;
}

/* --- Background Image from Pixabay (free to use)
https://cdn.pixabay.com/photo/2019/01/27/22/32/mountains-3959204_1280.jpg

Images elicits and emotion of success after a hard slog. "Feel-good" image = let me help you become equally successful and happy!

Elements: CONTENT and BACKGROUND set the "Professional Training and Development Success" feeling Background Image.
The remaining elements ensure the image coveras the whole viewport and that the image is behind (z-index: -1) all other elements.
--- */
body {
  content: '';
  background: url("/assets/images/MountainsSuccess.webp") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* --- Flexbox: Center Text Vertically and Horizontally --- */
.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

/* --- Make sure that the Positioning/Marketing Statetment fits all displays. Make it larger for displays with plenty of "Real Estate". --- */
@media screen and (min-width: 600px) and (min-height: 700px) {
    .showcase h1 {
      font-size: 4rem;
    }

    .showcase p {
    font-size: 1.3rem;
    }
}

/* --- Grid Layout for all pages, except it's not used on the main page (Flexbox is used instead), and the Footer is all Grid in any case, including on the main page. --- */
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* === Fixed Footer with Scrollable Body === */
.container {
    width: 100%;
}

/* --- Fixed Footer with [display: grid] and [grid-template-columns: 1fr 1fr 1fr] to set Footer Elements in a row.  --- */
.fixed-footer {
  width: 100%;
  position: fixed;
  background: rgba(13, 110, 139 , 0.75);
  padding: 10px 0;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  bottom: 0; /* Anchors Footer to the bottom of the display/viewport */
}

.footer {
  margin: 0;
  text-align: center;
}
/* ---  Making the Navigation Links visible against the #999999 (grey) background of the Fixed Navigation --- */
footer a {
  color: #ffffff;
  font-size: 110%;
  padding: 0px 10px;
  text-decoration: none; /* Remove underline from links = HTML style="text-decoration:none" */
}

footer a i:hover {
    /* color: #30e0fc; */
    /* zoom: 120%; */
    transform: scale(1.5); /* transform: scale() works on all browsers. zoom: doesn't work on Firefox. Also, zoom: ruins the footer. */
}

/* --- Add padding to the Fontawesome icons for the Left and Right Footer elements. It keeps the icon layout consisten across smaller devices. --- */
.fa-graduation-cap, .fa-location-arrow {
    padding-right: 10px;
}

/* --- Tool-tip on Hover by Kevin Powell: https://www.youtube.com/watch?v=xoRbkm8XgfQ HTML <i ... tool-tip="Tool-tip Text" ... ></i> --- */
i[tool-tip] {
    position: relative;
}

i[tool-tip]::after {
    content: attr(tool-tip);
    display: block;
    position: absolute;
    background-color: rgb(13, 110, 139);
    padding: 1em 2em;
    color: white;
    border-radius: 5px;
    font-size: .75em;
    bottom: 0;
    left: -10px; /* Works on all tested displays (Chrome --> Inspect and FireFox RDM) and devices. The Tool-Tips are fully visible. */
    white-space: nowrap;
    transform: scale(0);
    transition: transform ease-out 250ms, bottom ease-out 250ms;
    font-family: 'Raleway', sans-serif;
    box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.7);
}

i[tool-tip]:hover::after {
    transform: scale(1);
    bottom: 200%;
}


/* === MENU.CSS now incorporated into STYLE.CSS as it's easier to edit one file for certain functions and elements than two files. === */
/* === Hamburger-menu Style based on https://www.youtube.com/watch?v=DZg6UfS5zYg by Traversy Media (HTML 5 and CSS 3, NO JavaScript)  === */

/* --- Make sure Hamburger-menu is fixed to the top right corner even if/when page scrolls. It's on top with z-index: 1;, on top of the background image and text.  --- */
.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

/* --- Hamburger-menu Checkbox Toggle Styling, ensuring it's fixed to the top right corner even if/when the page scrolls. It's on top of the  z-index: 2; emsure --- */
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0; /* Hides checkbox */
}

/* --- Hamburger-menu Square --- */
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex; /* Aligning Hamburger-menu Square to center = display: flex, align-items: center;, justify-content: center; */
  align-items: center;
  justify-content: center;
}

/* --- Hamburger line targeting <div class="hamburger"> --> <div> <-- </div></div>. Creating the 1st of 3 Hamburger lines. --- */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease; /* Smooth transition */ 
}

/* --- Hamburger lines (2nd (Top) and 3rd (Bottom) ) - Top & Bottom --- */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: ''; /* Won't work without this element, added before (div::before) and after (div::after) the initial element (<div>). */
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* --- Moves line down from on top of the 2nd line (3rd Hamburger Line) --- */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* --- Hamburger-Menu States: Checked, Hover, Rotate --- */
/* --- Toggler Animation when clicked --- */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* --- When clicked/toggled, turns lines into an 'X' --- */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* --- Rotate on hover when checked, rotating 'X' --- */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* --- Show Hamburger-menu when toggler is checked and target (~) .menu --- */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1); /* Scaled up to 1 when Hamburger-menu is clicked. */
  transition-duration: var(--menu-speed);
}

/* --- Show menu items --- */
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

/* --- Center the menu on the page when open. HTML --> <div class="menu"> <-- --- */
.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden; /* Uncomment this when styling the menu items, together with... */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- Add padding to the Fontawesome icons for the Menu elements; "breathing-space. --- */
.menu-wrap .menu .fa {
    padding-right: 10px;
}

/* --- Center the menu on the page when open. HTML <div class="menu"> --> <div> <-- --- */
.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200%;
  height: 200%;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0); /* Scaled down to zero when Hamburger-menu is not clicked. */ /* Uncomment this when styling the menu items, together with... */
  /* transition: all 0.4s ease; !! !! !! Removed as it causes an ugly artefact when intially opening the page. !! !! !! */
}

/* --- Center the menu on the page when open. HTML <div class="menu"><div> --> <div> <-- --- */
.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0; /* Uncomment this when styling the menu items, together with... */
  /* transition: opacity 0.4s ease; !! !! !! Removed as it causes an ugly artefact when intially opening the page. !! !! !! */
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none; /* Remove bullet points in List Items */
  color: #ffffff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none; /* Remove underline in Links */
  /* transition: color 0.4s ease; !! !! !! Removed as it causes an ugly artefact when intially opening the page. !! !! !! */
}


/* === Adjusting to smaller displays and devices, for both Style and Menu === */
/* --- 420px devices --- */
@media screen and (max-width: 420px) {
    /* .menu-wrap .menu > div {
        width: 60%;
        height: 60%;
    }
    footer a {
        font-size: 80%;
    }*/
    .showcase h1 {
        font-size: 2rem;
    }
    .showcase p {
        font-size: 1rem;
    }
}


/* --- Samsung Galaxy S5 --- */
@media screen and (max-width: 360px) {
    /* .menu-wrap .menu > div {
        width: 60%;
        height: 60%;
    } */
    footer a {
        font-size: 80%;
    }
    .showcase h1 {
        font-size: 2rem;
    }

    .showcase p {
        font-size: 1rem;
    }

}

/* --- Apple iPhone 5/SE --- */
@media screen and (max-width: 320px) {
    /* .menu-wrap .menu > div {
        width: 60%;
        height: 60%;
    } */
    footer a {
        font-size: 70%;
    }
/*
    .fixed-footer {
        padding: 0;
    }
    .fa-graduation-cap, .fa-location-arrow {
        padding-right: 5px;
    }    
*/
}